{% extends "submit/submit_base.html" %}
{# Copyright The IETF Trust 2015, All Rights Reserved #}
{% load origin staticfiles %}

{% block pagehead %}
<link rel="stylesheet" href="{% static "jquery.tablesorter/css/theme.bootstrap.min.css" %}">
{% endblock %}

{% block title %}Pre-submissions with emails{% endblock %}

{% load ietf_filters %}

{% block submit_content %}
  {% origin %}
  {% if user.is_authenticated %}
    <h2 class="anchor-target" id="approvals">Submission email posting</h2>

    {% if not manual %}
      <p>There are no submission email.</p>
    {% else %}
      <table class="submissions table table-condensed table-striped tablesorter">
        <thead>
          <tr>
            <th>Title</th>
            <th>Submitted</th>
          </tr>
        </thead>
        <tbody>
          {% for s in manual %}
            <tr>
              <td><a href="{% url "submit_submission_emails_by_hash" submission_id=s.pk access_token=s.access_token %}">{{ s.name }}</a></td>
              <td>{{ s.submission_date }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% endif %}

  {% else %}
    <h2>Processing email submissions</h2>
    <p>
      This is where chairs and the secretariat can list and process emails
      for submissions which will require manual posting.
    </p>
    <p>
      You need to <a href="https://{{ request.get_host }}/accounts/login/?next={{request.get_full_path|urlencode}}" rel="nofollow">sign in</a> in order to handle email submissions.
    </p>
  {% endif %}
{% endblock %}

{% block js %}
<script src="{% static "jquery.tablesorter/js/jquery.tablesorter.combined.min.js" %}"></script>
{% endblock %}