{% extends "submit/submit_base.html" %}
{# Copyright The IETF Trust 2015, All Rights Reserved #}
{% load origin staticfiles %}

{% block pagehead %}
<link rel="stylesheet" href="{% static "jquery.tablesorter/css/theme.bootstrap.min.css" %}">
{% endblock %}

{% block title %}Pre-submission email{% endblock %}

{% load ietf_filters %}

{% block submit_content %}
  {% origin %}
  {% if user.is_authenticated %}
    <h2 class="anchor-target" id="approvals">Email for {{ submission.name }}</h2>

    <table class="emails table table-condensed table-striped tablesorter">
      <tr>
        <th>Date</th>
        <td>{{ message.message.time }}</td>
      </tr>

      <tr>
        <th>From</th>
        <td>{{ message.message.frm }}</td>
      </tr>

      <tr>
        <th>Subject</th>
        <td>{{ message.message.subject }}</td>
      </tr>

      <tr>
          <th>Message</th>
          <td>{{ message.message.body|linebreaksbr }}</td>
      </tr>
        
      {% for a in attachments %}
        <tr>
          <th>Attachment</th>
          <td><a href="{% url "submit_submission_email_attachment_by_hash" submission_id=submission.pk message_id=message.pk filename=a.filename access_token=submission.access_token %}">{{ a.filename }}</a></td>
        </tr>
      {% endfor %}
    </table>

  {% else %}
    <h2>Processing email submissions</h2>
    <p>
      This is where chairs and the secretariat can list and process emails
      for a submission which will require manual posting.
    </p>
    <p>
      You need to <a href="https://{{ request.get_host }}/accounts/login/?next={{request.get_full_path|urlencode}}" rel="nofollow">sign in</a> in order to handle email submissions.
    </p>
  {% endif %}
{% endblock %}

{% block js %}
<script src="{% static "jquery.tablesorter/js/jquery.tablesorter.combined.min.js" %}"></script>
{% endblock %}