{% extends "submit/submit_base.html" %}
{# Copyright The IETF Trust 2015, All Rights Reserved #}
{% load origin staticfiles %}

{% block pagehead %}
<link rel="stylesheet" href="{% static "jquery.tablesorter/css/theme.bootstrap.min.css" %}">
{% endblock %}

{% block title %}Pre-submission emails{% endblock %}

{% load ietf_filters %}

{% block submit_content %}
  {% origin %}
    <h2 class="anchor-target" id="approvals">Emails for {{ submission.name }}</h2>

    {% if not subemails %}
      <p>There are no submission emails.</p>
    {% else %}
      <table class="emails table table-condensed table-striped tablesorter">
        <thead>
          <tr>
            <th>Date</th>
            <th>From</th>
            <th>Subject</th>
          </tr>
        </thead>
        <tbody>
          {% for m in subemails %}
            <tr>
              <td>{{ m.message.time }}</td>
              <td>{{ m.message.frm }}</td>
              {% if user.is_authenticated %}
                <td><a href="{% url "submit_submission_email_by_hash" submission_id=submission.pk message_id=m.pk access_token=submission.access_token %}">{{ m.message.subject }}</a></td>
              {% else %}
                <td><a href="{% url "submit_submission_email" submission_id=submission.pk message_id=m.pk %}">{{ m.message.subject }}</a></td>
              {% endif %}
              {% if user|has_role:"Secretariat" %}
                <td><a class="btn btn-default" href="{% url "submission_reply_email" submission_id=submission.pk message_id=m.message.pk %}" title="Reply"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> Reply</a></td>
              {% endif %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% endif %}
{% endblock %}

{% block js %}
<script src="{% static "jquery.tablesorter/js/jquery.tablesorter.combined.min.js" %}"></script>
{% endblock %}