{% extends "submit/submit_base.html" %}
{# Copyright The IETF Trust 2015, All Rights Reserved #}
{% load origin staticfiles %}

{% block pagehead %}
<link rel="stylesheet" href="{% static "jquery.tablesorter/css/theme.bootstrap.min.css" %}">
{% endblock %}

{% block title %}Pre-submission emails{% endblock %}

{% load ietf_filters %}

{% block submit_content %}
  {% origin %}
  {% if user.is_authenticated %}
    <h2 class="anchor-target" id="approvals">Emails for {{ submission.name }}</h2>

    {% if not messages %}
      <p>There are no submission emails.</p>
    {% else %}
      <table class="emails table table-condensed table-striped tablesorter">
        <thead>
          <tr>
            <th>Date</th>
            <th>From</th>
            <th>Subject</th>
          </tr>
        </thead>
        <tbody>
          {% for m in messages %}
            <tr>
              <td>{{ m.message.time }}</td>
              <td>{{ m.message.frm }}</td>
              <td><a href="{% url "submit_submission_email_by_hash" submission_id=submission.pk message_id=m.pk access_token=submission.access_token %}">{{ m.message.subject }}</a></td>
              <td><a class="btn btn-default" href="{% url "submission_reply_email" submission_id=submission.pk message_id=m.message.pk %}" title="Reply"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> Reply</a></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% endif %}

  {% else %}
    <h2>Processing email submissions</h2>
    <p>
      This is where chairs and the secretariat can list and process emails
      for a submission which will require manual posting.
    </p>
    <p>
      You need to <a href="https://{{ request.get_host }}/accounts/login/?next={{request.get_full_path|urlencode}}" rel="nofollow">sign in</a> in order to handle email submissions.
    </p>
  {% endif %}
{% endblock %}

{% block js %}
<script src="{% static "jquery.tablesorter/js/jquery.tablesorter.combined.min.js" %}"></script>
{% endblock %}