{% extends "base_site.html" %}

{% block title %}Rolodex - Delete{% endblock %}

{% block breadcrumbs %}{{ block.super }} 
  &raquo; <a href="../../">Rolodex</a>
  &raquo; <a href="../">{{ person.person_or_org_tag }}</a>
  &raquo; Delete
{% endblock %}

{% block content %}
<h1>Are you sure?</h1>

<p>Are you sure you want to delete the Rolodex Entry "{{ person.first_name }} {{ person.last_name }}({{ person.person_or_org_tag }})"?  All of the following related items will be deleted:</p>
<ul><li>Rolodex Entry: <a href="{% url sec.rolodex.views.view tag=person.person_or_org_tag %}">{{ person.first_name }} {{ person.last_name }}({{ person.person_or_org_tag }})</a>
  <ul>
    {% for address in person.postaladdress_set.all %}
        <li>Postal Address: {% firstof address.affiliated_company address.staddr1 address.city %}</li>
    {% endfor %}
    {% for number in person.phonenumber_set.all %}
        <li>Phone Number: {{ number.phone_number }}</li>
    {% endfor %}
    {% for email in person.emailaddress_set.all %}
        <li>Email Address: {{ email.address }}</li>
    {% endfor %}
    {% for director in person.areadirector_set.all %}
        <li>Area Director: {{ director.area.area_acronym.name }}</li>
    {% endfor %}
    {% for chair in person.wgchair_set.all  %}
        <li>WG Chair: {{ chair.group_acronym.group_acronym.name }}</li>
    {% endfor %}
  </ul>
</li></ul>
<form action="" method="post">
  <input type="hidden" name="post" value="yes" />
  <input type="submit" value="Yes, I'm sure" />
</form>
{% endblock %}
