{% extends "base.html" %}


{% block content %}
                  <!-- InstanceBeginEditable name="Body text" -->
<form action="." name="aform" method="GET">
Please enter the filename of the Internet-Draft who's status you wish to view: <br><br>

<input type="text" name="passed_filename" size="25" value="draft-">
<br>
<br>
<input type="submit" value="Find Status">
</form>
<br>
<b>Please note that the Status page only displays the status of an Internet-Draft whose posting is still in progress or an Internet-Draft that has been successfully posted.</b>
                  <!-- InstanceEndEditable -->    

{% endblock %}
