{# Copyright The IETF Trust 2007, All Rights Reserved #}
   <tr class="{{ forloop.counter|divisibleby:2|yesno:"oddrow,evenrow" }}">
      <td>{{ ipr.submitted_date }}</td>
      <td>{{ ipr.id }}</td>
      <td>
         {% if ipr.state.slug == 'posted' %}
           <a href="{% url "ietf.ipr.views.show" ipr.id %}">{{ ipr.title }}</a>
         {% else %}
           {{ ipr.title }}
       <br/>This IPR disclosure was removed at the request of the submitter.
         {% endif %}
     <br />
     {% for item in ipr.updates.all %}
         {% if item.target.state.slug == 'posted' %}
            Updates ID <a href="{% url "ietf.ipr.views.show" item.target.id %}">#{{ item.target.id }}</a>.<br/>
         {% endif %}
     {% endfor %}
     {% for item in ipr.updated_by.all %}
        {% comment %}{% if item.processed == 1 and item.ipr.status != 2 %}{% endcomment %}
        {% if item.source.state.slug != "rejected" %}
            Updated by ID <a href="{% url "ietf.ipr.views.show" item.source.id %}">#{{ item.source.id }}</a>.<br/> 
        {% endif %}
     {% endfor %}
      </td>
   </tr>

