{% extends "idsubmit/base.html" %}
{% block maincontent %}

{% load idsubmitTags %}

<!-- Body content starts-->
<div align="left">
<center>
<table border="0" vspace="0">
<tr valign="top">
<td height="550" >
<p>
    <font face="Arial" size="4">
    <strong>Adjust External Meta-Data</strong>
    </font>
</p>

<form action="/idsubmit/manual_post/" method="post" name="aform">
<input type="hidden" name="submission_id" value="{{ object.submission_id }}" />
<input type="hidden" name="redirect" value="1" />
<p>
    <strong>Document</strong>: 
    <a href="{{ staging_url }}/{{ object.filename }}-{{ object.revision }}.txt">
        {{ object.filename }}
        <input type="hidden" name="filename" value="{{ object.filename }}">
    </a>
    <a href="/idsubmit/viewfirsttwo/{{ object.submission_id }}">
        [View First Two Pages]
    </a>
    <table border="0">
        <tr>
            <td><font face="Arial" size="2">Submission Date:</font></td>
            <td>{% now "Y-m-j" %}</td>
        </tr>
        <tr>
           <td><font face="Arial" size="2">WG ID:</font></td>
           <td>
               <input type="hidden" name="group" value="{{ object.group.name }}" />
               {{ object.group.name }}
           </td>
        </tr>
        <tr>
            <td><font face="Arial" size="2">File Size:</font></td>
            <td> {{ object.filesize }} </td>
        </tr>
    </table>
</p>
<hr>
<table border="0" width="700">
    <tr>
        <td><font face="Arial" size="2"><strong>Adjust Data:</strong></font></td>
    </tr>
    <tr bgcolor="{% get_bgColor_Code meta_data_errors 'title' %}">
        <td><font face="Arial" size="2">Title:</font></td>
        <td>
            <input type="text" size="65" name="title" value="{{ object.title }}">
        </td>
    </tr>
    <tr bgcolor="{% get_bgColor_Code meta_data_errors 'version' %}">
        <td><font face="Arial" size="2">Version:</font></td>
        <td><input type="text" size="3" name="revision" value="{{ object.revision }}"></td>
    </tr>
    <tr bgcolor="{% get_bgColor_Code meta_data_errors 'creation' %}">
        <td><font face="Arial" size="2">Creation Date:</font></td>
        <td>
            <input type="text" size="25" name="creation_date" value="{{ object.creation_date }}">
        </td>
    </tr>
    <tr bgcolor="{% get_bgColor_Code meta_data_errors 'pages' %}">
        <td><font face="Arial" size="2">Pages:</font></td>
        <td><input type="text" size="25" name="pages" value="{{ object.txt_page_count }}"></td>
    </tr>
    <tr bgcolor="{% get_bgColor_Code meta_data_errors 'abstract' %}">
        <td valign="top"><font face="Arial" size="2">Abstract:</font></td>
        <td>
            <textarea cols="72" rows="4" name="abstract">
                {{ object.abstract }}
            </textarea>
        </td>
    </tr>
    <tr bgcolor="#ddddff">
        <td>
            <font face="Arial" size="2">Submitter:</font>
        </td>
        <td>
            If you are one of the authors, then please click a button by your name to automatically fill in the submitter's information as requested below.  Otherwise, Please manually enter your information.<br>
            {% for author in authors %}
            <input type="button" name="ab{{ forloop.counter }}" value="{{ author.first_name|slice:":1" }}. {{ author.last_name }}" onClick="document.aform.lname.value='{{ author.last_name }}';document.aform.fname.value='{{ author.first_name }}';document.aform.submitter_email.value='{{ author.email_address }}';" />
            {% endfor %}
         </td>
    </tr>

{% for field in submitter_form %}

    <tr bgcolor="#ddddff">
    <td>
        <font face="Arial" size="2">{{ field.label_tag }}</font>
        {% if field.errors %}<font face="Arial" size="2" color="red">{{ field.errors }}</font>{% endif %}
    </td>
    <td>{{ field }}{% if field.help_text %}{{ field.help_text }}{% endif %}</td>
    
{% endfor %}

    <tr bgcolor="#ddddff">
        <td><font face="Arial" size="2">Comments to the Secretariat:</font></td>
        <td>
            <textarea cols="72" rows="4" name="comment_to_sec"></textarea>
        </td>
    </tr>
</table>
<hr>
<p>
<font face="Arial" size="2">Authors</font>
<table border="0" width="700">
    <tr bgcolor="#ddddff">
         <td align="center">&nbsp;</td>
         <td align="center" width="150">
             <font face="Arial" size="2"><strong>Given Name</strong></font>
         </td>
         <td align="center" width="150">
             <font face="Arial" size="2"><strong>Family Name</strong></font>
         </td>
         <td align="center">
             <font face="Arial" size="2"><strong>Email</strong></font>
         </td>
    </tr>
    {% for author in authors %}
    <tr bgcolor="#ddddff">
        <td>&nbsp; &nbsp; Author {{ author.author_order }}:</td>
        <td>
            <input name="author_first_name" type="text" size="15" value="{{ author.first_name }}" />
        </td>
        <td>
            <input name="author_last_name" type="text" size="15" value="{{ author.last_name }}" />
        </td>
        <td>
            <input name="author_email" type="text" size="35" value="{{ author.email_address }}" />
        </td>
    </tr>

{% if forloop.last %}

    <tr bgcolor="#ddddff">
        <td>&nbsp; &nbsp; Author <script>var idx={{ forloop.counter }}; document.write(idx+1); </script>:</td>
        <td> <input name="author_first_name" type="text" size="15" value="" /> </td>
        <td> <input name="author_last_name" type="text" size="15" value="" /> </td>
        <td> <input name="author_email" type="text" size="35" value="" /> </td>
    </tr>
    <tr bgcolor="#ddddff">
        <td>&nbsp; &nbsp; Author <script>var idx={{ forloop.counter }}; document.write(idx+2); </script>:</td>
        <td> <input name="author_first_name" type="text" size="15" value="" /> </td>
        <td> <input name="author_last_name" type="text" size="15" value="" /> </td>
        <td> <input name="author_email" type="text" size="35" value="" /> </td>
    </tr>

{% endif %}
{% endfor %}
    </table>
</p>
<input type="submit" align="middle" value="Submit for manual posting" name="manual_post">
</form>      
      <!-- InstanceEndEditable -->        
    </td>
   </tr>
</table>
</center>
</div>

<form action="/idsubmit/cancel/{{object.submission_id}}" method="get" name="aform">
Cancel this submission: <input type="submit" value="Cancel" onClick="return window.confirm('Do you really want to cancel this submission?');">
</form>

<!-- Body content ends-->
{% endblock %}
