{# Copyright The IETF Trust 2008, All Rights Reserved #}
{% extends "base.html" %}
{% block title %}IETF Internet-Draft Initial Version Approval Tool{% endblock %}
{% block head %}
<link rel="stylesheet" type="text/css" href="https://www.ietf.org/css/base.css" />
{% endblock %}
{% block content %}
  <h2>IETF Internet-Draft Initial Version Approval Tool</h2>

  <h2>Pick an Approver for {{ form.draft.data }}</h2>
  <form action="{% url ietf.idsubmit.approval_views.approval2 %}" method="post">
    {{ form.draft.as_hidden }}
    {{ approver_form.as_p }}
    <input type="submit" value="Approve Internet-Draft"/>
  </form>

{% endblock %}
