{% extends "idsubmit/base.html" %}
{% block maincontent %}
                  <!-- InstanceBeginEditable name="Body text" -->
<h1>Error</h1>
<p>Your request was not processed due to the following error(s):</p>

{% ifequal date_check_err_msg "first_second" %}
The pre-meeting cutoff date for new documents (i.e., version -00 Internet-Drafts) is Monday, {{ first_cut_off_date }} at {{cut_off_time}}:00 (PT). You will not be able to submit a new document after this time until Monday, {{ ietf_monday }}, at midnight
{% endifequal %}

{% ifequal date_check_err_msg "second_ietf" %}
The cut off time for the I-D submission was {{cut_off_time}}:00 (PT), {{ second_cut_off_date }}.<br>The I-D submission tool will be reopened at midnight, {{ ietf_monday }}
{% endifequal %}

<i>{{ error_msg }}<br>
{% if not critical_error %}
  {% if filename %}
<a href="{% url ietf.idsubmit.views.draft_status filename %}">[View Status of existing submission]</a>
  {% else %}
Please go back to <a href="/idsubmit/upload/">Upload Page</a> and re-submit your draft.
  {% endif %}
{% endif %}
<br></i>
                  <!-- InstanceEndEditable -->    
<br><br><br>
{% endblock %}
