<table border="0" width="650"><tr><td>
Please make sure that your Internet-Draft includes all of the required
meta-data in the proper format.
<br><br>
If your Internet-Draft *does* include all of the required meta-data in
the proper format, and if the error(s) identified above are due to the
failure of the tool to extract the meta-data correctly, then please use
the 'Adjust Meta-Data' button below, which will take you to the 'Adjust
Screen' where you can correct the improperly extracted meta-data.  You
will then be able to submit your Internet-Draft to the Secretariat for
manual posting.
<br><br>
If your Internet-Draft *does not* include all of the required meta-datain the proper format, then please cancel this submission, update your
Internet-Draft, and resubmit it.
<br><br>
NOTE: The Secretariat will NOT add any meta-data to your Internet-Draft
or edit the meta-data.  An Internet-Draft that does not include all of the required meta-data in the proper format WILL be returned to the
submitter.</td></tr></table>
<br>Please use "Adjust Meta-Data" button to manually submit this document to the Secretariat.

