{% extends "idsubmit/base.html" %}
{% block maincontent %}
       <table border="0" width="657" vspace="0">
         <tr valign="top">
            <td width="651">
            <!-- InstanceBeginEditable name="Body text" -->
          {% ifequal cutoff_msg "first_second" %}
         The pre-meeting cutoff date for new documents (i.e., version -00 Internet-Drafts) was Monday, {{ first_cut_off }} at 9 AM (ET). You will not be able to submit a new document until Monday,  {{ ietf_monday }}, at midnight.<br>You can still submit a version -01 or higher Internet-Draft until 9 AM (ET), {{ second_cut_off }}.
          {% endifequal %}

          {% ifequal cutoff_msg "second_ietf" %}
         The pre-meeting cutoff date for new documents (i.e., version -00 Internet-Drafts) was Monday, {{ first_cut_off }} at 9 AM (ET). You will not be able to submit a new document until Monday,  {{ ietf_monday }}, at midnight.<br>The I-D submission tool will be shut down at 9 AM (ET) today, and reopened at midnight (ET), {{ ietf_monday }}
          {% endifequal %}
         <font face="Arial" size="2">

         <p>This page is used to submit IETF Internet-Drafts to the Internet-Draft repository. The list of current Internet-Drafts can be accessed at <a href="http://www.ietf.org/ietf/1id-abstracts.txt">http://www.ietf.org/ietf/1id-abstracts.txt</a></p>
         <p>Internet-Drafts are working documents of the Internet Engineering Task Force (IETF), its areas, and its working groups. Note that other groups may also distribute working documents as Internet-Drafts.</p>
         <p>Internet-Drafts are draft documents, and are valid for a maximum of six months. They may be updated, replaced, or obsoleted by other documents at any time.</p>
         <p>If you run into problems when submitting an Internet-Draft using this and the following pages, you may alternatively submit your draft by email to<a href="mailto:internet-drafts@ietf.org"> internet-drafts@ietf.org</a>. However, be advised that manual processing always takes additional time.</p>
         </font>
         <hr color="#999999">
           </td></tr>
           <tr bgcolor="#ddddff"><td>
         <font face="Arial" size="4"><strong>Upload a draft</strong></font>
         <form action="." method="post" enctype="multipart/form-data">
           <table width="600" border="0">
{{ form.as_p }}
           </table>
* Required
         <p> 
           <input type="submit" value="Upload" name="upload">
         </p>
         </form>
         <!-- InstanceEndEditable -->        
          </td>
         </tr>
      </table>


{% endblock %}
