{% if debug %}
{% load ietf_filters %}

{% if sql_queries|length != 0 %}
<div class="panel-group small" id="debugaccordion">
	<div class="panel panel-default">
		<div class="panel-heading">
			<p class="panel-title">
				<a data-toggle="collapse" data-parent="#debugaccordion" href="#debugcollapse">
					{{ sql_queries|length }} SQL queries ({{ sql_queries|timesum }}s)
				</a>
			</p>
		</div>
		<div id="debugcollapse" class="panel-collapse collapse">
			<div class="panel-body">
				<table class="table table-condensed table-striped">
					<thead>
						<tr>
							<th>#</th>
							<th>SQL</th>
							<th>Time</th>
						</tr>
					</thead>

					<tbody>
						{% for query in sql_queries %}
							<tr>
								<td>{{ forloop.counter }}</td>
								<td>{{ query.sql|expand_comma|escape }}</td>
								<td>{{ query.time }}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
{% endif %}
{% endif %}
