{% extends "base.html" %}
{% load ietf_filters %}
{# Copyright The IETF Trust 2007, All Rights Reserved #}
{% load humanize %}

{% load dajaxice_templatetags %}

{% block title %}IETF {{ meeting.number }} Meeting Agenda{% endblock %}
{% load agenda_custom_tags %}
{% block pagehead %}
<link rel='stylesheet' type='text/css' href='/css/ietf.css' />

<script type='text/javascript' src='/js/jquery-1.8.2.min.js'></script>
<script type='text/javascript' src='/js/jquery-ui-1.9.0.custom/jquery-ui.custom.js'></script>
<script type='text/javascript' src='/js/jquery-ui-1.9.0.custom/jquery.ui.widget.js'></script>
<script type='text/javascript' src='/js/jquery-ui-1.9.0.custom/jquery.ui.droppable.js'></script>
<script type='text/javascript' src='/js/jquery-ui-1.9.0.custom/jquery.ui.sortable.js'></script>
<script type='text/javascript' src='/js/jquery-ui-1.9.0.custom/jquery.ui.accordion.js'></script>
<script type='text/javascript' src='/js/jquery-ui-1.9.0.custom/jquery.ui.draggable.js'></script>
{% dajaxice_js_import %}
<script type='text/javascript' src='/js/agenda_edit.js'></script>

<script type='text/javascript'>

{% comment %}
function my_js_callback(data){
    alert(data.message);
}<!-- dajaxice example --> {% endcomment %}

function setup_slots(){
{% for t in timeslots %}
	<!-- ------------------------- >
	var e_obj = new event_obj( "{{ t.session.group.acronym }}","{{ t.session.group.name }}","{{t.location|slugify}}" ,"{{ t.time|date:'Hi' }}", "{{t.time|date:'Y-m-d'}}", "{{t.id}}");
	
	$.extend(meeting_objs,{ "{{t.id}}":e_obj});
	<!-- ------------------------- >
{% endfor %}


{% comment %} Toggles to hide the calendar {% endcomment %}
{% for days in date_slices %}
	$("#{{days}}-btn").click(function(){
		$("#{{days}}tr").toggle();
		$("#{{days}}tbody").toggle();
	});
{% endfor %}
}


</script>
<style type='text/css'>

</style>
{% endblock pagehead %}


{% block content %}

{% comment %} For each meeting day, we generate a table {% endcomment %}
{% comment %} <button onclick="Dajaxice.ietf.meeting.sayhello(my_js_callback);">click me </button><!-- dajaxice example --> {% endcomment %}
<div style="margin: 0 auto">
{% comment %} {% for day,value in date_slices.items %} {% endcomment %}


  {% for day in meeting_days %}

  <table id="meetings" class="{{day}} ietf-navbar" >

  <th colspan="{{date_slices|colWidth:day|add:'1'}}" id="{{day}}-btn" style="border:1px solid red; background:#A60000; color:white">{{day}}</th>
  <tr id="{{day}}tr">
  <th></th>
  
  {% for slot in date_slices|lookup:day %}
  <th class="room_title">{{slot.0|date:'Hi'}}-{{slot.1|date:'Hi'}} </th>
  {% endfor %}
  <tbody id="{{day}}tbody" class="cells">
    {% for r in rooms %}
	<tr id="{{r}}">

	    <th class="vert_time">{{r}}
	    {% for slot in date_slices|lookup:day %}
	        <td id="{{r|slugify}}_{{day}}_{{slot.0|date:'Hi'}}" class="{% cycle 'alt' '' %}"></td>
	    {% endfor %}
	</tr>
    {% endfor %}
</tbody>
</table>
    
    
{% endfor %}









<!-- {% comment %} -->
<!-- <div style="margin: 0 auto"> -->
<!-- {% for day,value in date_slices.items %} -->
  
<!--   <table id="meetings" class="{{day}} ietf-navbar" > -->
<!--     {{value|length|add:'1'}} -->
<!--   <th colspan="{{value|length|add:'1'}}" id="{{day}}-btn" style="border:1px solid red; background:#A60000; color:white">{{day}}</th> -->
<!--   <tr id="{{day}}tr"> -->
<!--   <th></th> -->
  
<!--   {% for slot in value %} -->
<!--   <th class="room_title">{{slot.0|date:'Hi'}}-{{slot.1|date:'Hi'}} </th> -->
<!--   {% endfor %} -->
<!--   <tbody id="{{d}}tbody" class="cells"> -->
<!--     {% for r in rooms %} -->
<!-- 	<tr id="{{r}}"> -->
<!-- 	    <th class="vert_time">{{r}} -->
<!-- 	    {% for slot in value %} -->
<!-- 	        <td id="{{r|slugify}}-{{day}}-{{slot.0|date:'Hi'}}" class="{{r|cut:"/"}}"> -->
<!-- 		</td> -->
<!-- 	    {% endfor %} -->
<!-- 	</tr> -->
<!--     {% endfor %} -->
<!-- </tbody> -->
<!-- </table> -->
    
    
<!-- {% endfor %} -->

<!-- {% endcomment %} -->






  
<!-- {% comment %} -->
<!--   {% for d in date_slices %} -->
<!-- <table id="meetings" class="{{d}} ietf-navbar" > -->

<!--   <th colspan="{{rooms|length|add:'1'}}" id="{{d}}-btn" style="border:1px solid red; background:#A60000; color:white">{{d}}</th> -->


<!--   <tr id="{{d}}tr"> -->
<!--     <th ></th> -->
<!--     {% for r in rooms %} -->
<!--     <th class="room_title">"{{r}}" </th> -->
<!--     {% endfor %} -->
<!--   </tr> -->

<!-- <tbody id="{{d}}tbody" class="cells"> -->



<!--   {% for s in time_slices %} -->
<!--   	<tr id="{{s}}"> -->
<!-- 	    <th class="vert_time">{{s}}</th> -->
<!-- 	    {% for r in rooms %} -->
<!--     		<td class="{{r|cut:"/"}}"></td> -->
<!-- 	    {% endfor %} -->
<!-- 	</tr> -->
<!--    {% endfor %} -->
<!-- </tbody> -->
<!-- </table> -->

<!-- {% endfor %} -->


<!-- {% endcomment %} -->

</div>
<div style="border:1px solid black; margin: 0 auto; height:800px; width:200px;overflow:scroll;">
<b>Events:</b>
<ul style="" id="sortable-list">
</ul>

</div>





<!-- </div> -->

<!--<div class="room" id="room1" style="background:green"></div> -->

<!--</body>-->
{% endblock %}
<!--</html>-->
