/*
 * Site-wide CSS for the IETF datatracker.
 *
 * Styles only used for one page go into the morecss block of
 * that page template! (And not into the HTML of the page...)
 */

/* Helper style for tables */
.nowrap { white-space: nowrap; }

/* Helper to center navigation pills */
.center-pills {	display: inline-block; }

/* Helper to constrain the size of the main logo */
.ietflogo { width: 75%;	max-width: 300px; }

/* Add some horizontal space after a form label, and make it bold */
form label { padding-right: .5em; font-weight: bold;}

/* Style Django form errors */
form .errorlist { color: red; font-weight: bold; }

/* See http://bootply.com/100899 */
.dropdown-submenu{position:relative;}
.dropdown-submenu>.dropdown-menu{top:0;left:100%;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;}
.dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}
.dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}

/* Style the left menu */
.nav-header { font-weight: bold; padding: 5px; }
.nav-stacked>li, .nav-stacked>li+li { margin-top: 0; line-height: 1;}
.nav-stacked>li>a { padding: 3px 15px; }

/* Make the panel title font normally large */
.panel-title { font-size: 14px }

/*
 * The main container should use all the available horizontal space.
 *
 * XXX This doesn't quite work yet - at the moment, it uses all the
 * space minus the computed responsive width of the leftmenu. Since we
 * clamp that below, there is extra whitespace on the right.
 */

.fluid-container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* A new type of Bootstrap label */
.label-blank { color: #000; background-color: #fff; border: 1px solid #000;}

/* Don't make the left menu change width past a threshold, wastes space */
.leftmenu { max-width: 225px; }

/* Styles needed for the ballot table.*/
.position-discuss,
.position-block    { background-color: #d9534f; }
.position-yes      { background-color: #5cb85c; }
.position-noobj    { background-color: #5bc0de; }
.position-abstain  { background-color: #ec971f; }
.position-recuse   { background-color: #808080; }
.position-norecord { background-color: inherit; }
.ballot-icon table td { border: 1px solid #fff; height: 10px; width: 8px; }
.ballot-icon table td.my { border: 2px solid #000;}

/*
 * We use Bootstrap's warning style for intermediate table headings in the
 * search results. Make those a bit more noticeable.
 */
.table .warning { font-weight: bold; }

/* Style the search form and results */
#search_form .search_field:first-child { padding-bottom: .5em; }
.search-results { padding-top: 2em; }
.ietf-doctable div.ballot-icon { margin: 0 0 .25em .25em;  }
.ietf-doctable td.ad p { margin-bottom: .5em; }

.position-group { margin-bottom: 2em }
.ad-ballot-comment { margin-top: 2em; }

/* Ballot discuss and comment text needs to look a bit different than pre */
pre.ballot { padding: 0; margin: 0; border: 0; background-color: inherit; }

table.doc tr th, table.doc tr td { border-top: 0; }
table.doc hr { margin: 0; }

.buttonlist .btn { margin-bottom: .5em }
