{# Copyright The IETF Trust 2007, All Rights Reserved #}
{% extends "base.html" %}

{% load ietf_filters %}

{% block title %}Comment on {{ object.document.document.filename }}{% endblock %}

{% block content %}
<h1 class="first">Comment on {{ object.document.document.filename }}</h1>


   <table class="top">

   <tr><th>Date:</td><td>{{ object.date }}, {{ object.time }}</td></tr>
   <tr><th>Document:</td><td>{{ object.document.document.filename }}</td></tr>
   <tr><th>Version:</td><td>{{ object.version }}</td></tr>
   <tr><th>Commented by:</td><td>{{ object.get_author }}</td></tr>
   
{% if object.origin_state %}
   <tr><th>State before Comment:</td><td>{{ object.origin_state }}</td></tr>
{% endif %}

{% if object.result_state %}
   <tr><th>State after Comment:</td><td>{{ object.result_state }}</td></tr>
{% endif %}

   <tr><th>Comment:</td><td>
   
{% if object.ballot %}
	<span class="{{ object.get_ballot_display }}">[IESG Evaluation {{ object.get_ballot_display|upper }}] </span>
{% endif %}
   
   {{ object.comment_text|removetags:"b br" }}</td></tr>
   </table>
   
   <p><a href="history.go(-1)">Back</a></p>
   
{% endblock %}
