{% extends "roles/base_roles.html" %}

{% block subsection %}

<div class="module role-container">
    <h2>IESG</h2>
      <table class="full-width">
        {% for area_director in area_directors %}
            <tr>
              <td><a href="{% url sec.rolodex.views.view tag=area_director.person.person_or_org_tag %}">{{ area_director.person.first_name }} {{ area_director.person.last_name }}</a></td>
              <td><a href="{% url sec.areas.views.view id=area_director.area.area_acronym.acronym_id %}">{{ area_director.area.area_acronym.name }}</a></td>
            </tr>
        {% endfor %}
      </table>

      <div class="button-group">
        <ul>
          <form action="." method="post">
            <li><button type="submit" name="submit" value="Update IETF {{ current_meeting }}" onclick="return window.confirm('You are about to replace IESG list for IETF {{ current_meeting }}');">Update IETF {{ current_meeting }}</button></li>
            <li><button type="submit" name="submit" value="Save as IETF {{ next_meeting }}" onclick="return window.confirm('You are about to create a new IESG list for IETF {{ next_meeting }}');">Save as IETF {{ next_meeting }}</button></li>
          </form>
        </ul>
      </div> <!-- button-group -->
</div> <!-- module -->


{% endblock %}
