{# Copyright The IETF Trust 2007, All Rights Reserved #}
{% extends "base.html" %}
{% block title %} IETF Internet-Draft Initial Version Approval Tool {% endblock %}
{% block content %}
<link rel="stylesheet" type="text/css" href="https://www.ietf.org/css/base.css" />
<div>
  <h2>IETF Internet-Draft Initial Version Approval Tool</h2>

  <p>
    You have logged in as {% if user %} {{ user.first_name }} {{ user.last_name }} {% endif %}
  </p>

  {% if errors %}
  <p>
    <em>
      Failed to process the form: {{ message }}
    </em>
  <p>
  {% endif %}
  
  <form action="{% url ietf.wg.views.index %}" method="post">
    {{ form }}
    <input type="submit" value="Approve Internet-Draft"/>
  </form>
  <!-- FIXME: These tables need to be implemented in the views
  <h3>Internet-Drafts Pending Approval</h3>
  <table border="1" summary="This table lists the Initial Internet-Drafts 
			     that have been submitted but not yet
			     published, and are pending on approval">
    <tr>
      <td>Draft name</td>
      <td>Submission date</td>
    </tr>
  </table>

  <h3>Pre-Approved Internet-Drafts</h3>
  <table border="1" summary="This table lists the Initial Internet-Drafts 
			     that have been pre-approved, but not yet
			     submitted">
    <tr>
      <td>Draft name</td>
      <td>Approval Date</td>
    </tr>
  </table>-->
</div>
{% endblock %}
