{% extends "base.html" %}

{% block title %}<H4>Charter Draft for {{wgname}} ({{charter.creation_date}})</H4> {% endblock %}

{% block content %}

<B>Created: </B> {{ charter.creation_date }} by {{ charter.submitter }} <BR>
<B>State: </B> {{ charter.state }}

<form method="post" action="diff/">
<table>{{ diffForm.as_table }}</table><input type="submit" name="diff" />
</form>

<pre>
  {{ charter.text}}  
</pre>

<form action="" method="post">
{% ifequal role "sec" %} <input type="submit" name="adReview" value="Request AD Review" />{% endifequal %}
{% ifequal role "ad" %} <input type="submit" name="adReview" value="Request AD Review" />{% endifequal %}
{% ifequal role "chair" %} <input type="submit" name="adReview" value="Request AD Review" />{% endifequal %}

{% ifequal role "sec" %}<input type="submit" name="iesgProposedReview" value="Request IESG Proposed Review" />{% endifequal %}
{% ifequal role "ad" %}<input type="submit" name="iesgProposedReview" value="Request IESG Proposed Review" />{% endifequal %}

{% ifequal role "sec" %}<input type="submit" name="lastCall" value="Request IETF Last Call" />{% endifequal %}
{% ifequal role "ad" %}<input type="submit" name="lastCall" value="Request IETF Last Call" />{% endifequal %}

{% ifequal role "sec" %}<input type="submit" name="iesgApprovalReview" value="Request IESG Approval" />{% endifequal %}
{% ifequal role "ad" %}<input type="submit" name="iesgApprovalReview" value="Request IESG Approval" />{% endifequal %}

{% ifequal role "sec" %}<input type="submit" name="approve" value="Approve" />{% endifequal %}

{% ifequal role "sec" %}<input type="submit" name="dead" value="Entomb" />{% endifequal %}
{% ifequal role "ad" %}<input type="submit" name="dead" value="Entombl" />{% endifequal %}
</form>

{% endblock %}

