{% extends "base.html" %}

{% block title %}Working Group {{wgname|upper}}{% endblock %}

{% block content %}

<h1 class="first"> Current charter for {{wgname|upper }} </h1>

{% if charter %}
<pre>
  {{charter.text}}
</pre>
<P>
Last edited {{charter.creation_date}} by {{charter.submitter}}
{% else %}
<p> No aproved charter for this working group </p>
{%endif%}

<p>
<a HREF="{{lastdraft.version_id}}/">Last draft</a> <a HREF="all/">All Drafts</a>
<a HREF="add/">Create New Draft</a>
{% endblock %}
