{% extends "base_site.html" %}

{% block title %}Meetings{% endblock %}

{% block extrahead %}{{ block.super }}
  <link rel="stylesheet" type="text/css" href="/media/css/jquery-ui-1.8.1.custom.css" />
  <link rel="stylesheet" type="text/css" href="/media/css/jquery.ui.autocomplete.css" />
  <script type="text/javascript" src="/media/js/jquery-ui-1.8.1.custom.min.js"></script>
  <script type="text/javascript" src="/media/js/utils.js"></script>
  <script type="text/javascript" src="/media/js/dynamic_inlines.js"></script>
{% endblock %}

{% block breadcrumbs %}{{ block.super }} 
  &raquo; <a href="../../">Meetings</a>
  &raquo; <a href="../">{{ meeting.meeting_num }}</a>
  &raquo; <a href="../schedule">Schedule Sessions</a>
  &raquo; Rooms and Times
{% endblock %}


{% block content %}

<div id="nav" class="rooms-times-nav">
  <ul id="list-nav">
    <li id="nav-room" class="leftmost"><a href="{% url meetings_rooms meeting_id=meeting.meeting_num %}">Rooms</a></li>
    <li id="nav-time"><a href="{% url meetings_times meeting_id=meeting.meeting_num %}">Times</a></li>
    <li id="nav-non-session"><a href="{% url meetings_non_session meeting_id=meeting.meeting_num %}">Non-Session</a></li>
    <li id="nav-venue"><a href="{% url meetings_venue meeting_id=meeting.meeting_num %}">Venue</a></li>
  </ul>
</div>

{% block subsection %}{% endblock %}

{% endblock %}
