{# Copyright The IETF Trust 2007, All Rights Reserved #}
{% extends "idtracker/base.html" %}

{% load ietf_filters %}

{% block title %}Search List{% endblock %}

{% block idcontent %}
<table cellpadding="1" cellspacing="0" border="0">
   <tr><th>File Name</th></tr>
{% for draft in object %}
   <form action="{% url ietf.idtracker.views.view_id draft.filename %}" method="GET" name="form1">
  {% if ballot_id %}
    <input type="hidden" name="ballot_id" value="{{ballot_id}}">
  {% endif %}
   <tr><Td>{{ draft.filename }}</td>
   <td>
  {% if draft.idinternal %}<font color="red">
    {% ifequal draft.get_ballot_id_str ballot_id %}
    SAME BALLOT
    {% else %}
    {%if ballot_id %} <input type="submit" value="Add" name="merge_ballot">{% endif %}EXIST 
    {% endifequal %}</font>
  {% else %}
    <input type="submit" value="Add" name="add_new">
  {% endif %}
</td></tr>
   </form>
{% endfor %}
</table>
{% include "idtracker/main_menu_button_snippet.html" %}
<hr>
<A HREF="https://www.ietf.org/IESG/internal/agenda.html">[Telechat Agenda (Web)]</a>
<p>
<A HREF="https://www.ietf.org/IESG/internal/agenda.txt">[Telechat Agenda (Text)]</a>
<p>
<A HREF="https://www.ietf.org/IESG/internal/agenda_pack.txt">[Telechat Agenda Package (Text)]</a>
<p>
{% endblock %}

