{# Copyright The IETF Trust 2007, All Rights Reserved #}
{% extends "idtracker/base.html" %}
{% load ietf_filters %}

{% block title %}-- Ballot for {{ draft.document.filename }}{% endblock %}

{% block idcontent %}

<b>This program is not running in production mode, and the following message was not actually sent to the recipient(s):</b><br><br>
<pre>
From: {{LoginObj.person.email.0}} &lt;{{LoginObj.person.email.1}}&gt;
To: The IESG
Cc: {{cc_val}}
Subject: {{argument.subject}}
-------------------------------------------------
{{message|fill:"80"|escape}}
</pre>

<!-- back buttons begin -->
<form action="/idtracker/{{draft.document.filename}}" method="GET">
       <input type="submit" value="Back to I-D" />
</form>
<form action="" method="GET">
       <input type="hidden" name="loginid" value="{{LoginObj.id}}" />
       <input type="hidden" name="command" value="open_ballot" />
       <input type="hidden" name="dTag" value="{{draft.draft.id_document_tag}}" />
       <input type="hidden" name="rfc_flag" value="{{draft.rfc_flag}}" />
       <input type="hidden" name="ballot_id" value="{{ballot.ballot}}" />
       <input type="submit" value="Back to Ballot" />
</form>
<!-- back buttons end -->
{% endblock %}

