{# Copyright The IETF Trust 2007, All Rights Reserved #}
{% extends "idtracker/base.html" %}
{% load ietf_filters %}

{% block title %}-- Ballot for {{ draft.document.filename }}{% endblock %}

{% block idcontent %}

<h1>IESG
{% ifequal is_discuss_or_comment "discuss" %}
       Discuss
{% else %}
       Comment
{% endifequal %}
</h1>
{% for i in ballot.drafts.all %}
       <h2>{{i.document.filename}}-{{i.document.revision}}.txt</h2>
{% endfor %}

<hr> 
<h3>
{% ifequal is_discuss_or_comment "discuss" %}
       Discuss
{% else %}
       Comment
{% endifequal %}
</h3>

Last Edited Date: {{discuss_comment.date}} <br>
<form action="" method="POST" name="f">
<input type="hidden" name="loginid" value="{{LoginObj.id}}">
<input type="hidden" name="ad_id" value="{{LoginObj.id}}">
<input type="hidden" name="ballot_id" value="{{ballot.ballot}}">
<input type="hidden" name="revision" value="{{discuss_comment.revision}}">
<input type="hidden" name="command" value="update_ballot_comment_db">
<input type="hidden" name="category" value="{{is_discuss_or_comment}}">
<input type="hidden" name="id_document_tag" value="{{draft.draft.id_document_tag}}">
<input type="hidden" name="rfc_flag" value="{{draft.rfc_flag}}">
<input type="hidden" name="result_list" value="{{argument.result_list}}">
<input type="hidden" name="telechat_date" value="{{argument.telechat_date}}">
<input type="hidden" name="my_position" value="{{argument.my_position}}">
<textarea name="comment_text" rows="10" cols="74">{{discuss_comment.text}}</textarea>
<br>
<input type="submit" value="Save this {% ifequal is_discuss_or_comment "discuss" %}Discuss{% else %}Comment{% endifequal %} note and Go back to {% if argument.result_list %}Update Result Page{% else %}Ballot{% endif %}" onClick="return check_text(document.f.comment_text.value,'{{is_discuss_or_comment}}');">
</form>

<Script language = "javascript">
function check_text(text,d_or_c) {
  if (text.length == 0) {
    return confirm ("You are about to save empty text for your " + d_or_c + " note");
  } else {
    return true;
  }

}
</Script>
<center>
<form action="" method="POST" name="form1">
       <input type="hidden" name="loginid" value="{{LoginObj.id}}">
       <input type="hidden" name="command" value="{% if argument.result_list %}to_update_discuss_comment{% else %}open_ballot{% endif %}">
       <input type="hidden" name="id_document_tag" value="{{draft.draft.id_document_tag}}">
       <input type="hidden" name="telechat_date" value="{{argument.telechat_date}}">
       <input type="hidden" name="my_position" value="{{argument.my_position}}">
       <input type="hidden" name="result_list" value="{{argument.result_list}}">
       <input type="submit" value="Go back to {% if argument.result_list %}Update Result Page{% else %}Ballot{% endif %} without Saving">
</form>
</center>

{% endblock %}
