{# Copyright The IETF Trust 2007, All Rights Reserved #}
{% extends "idtracker/base.html" %}
{% load ietf_filters %}

{% block title %}-- Ballot for {{ draft.document.filename }}{% endblock %}

{% block idcontent %}

{% if not is_discuss_or_comment %}
<i>There is nothing to send</i>
<form action="" method="POST">
       <input type="hidden" name="loginid" value="{{LoginObj.id}}">
       <input type="hidden" name="command" value="open_ballot">
       <input type="hidden" name="dTag" value="{{draft.draft.id_document_tag}}">
       <input type="hidden" name="rfc_flag" value="{{draft.rfc_flag}}">
       <input type="hidden" name="ballot_id" value="{{ballot.ballot}}">
       <input type="submit" value="Back to Ballot">
</form>

{% else %}

<h3>Email DISCUSS and COMMENT text to IESG list</h3>
<table cellpadding="1" cellspacing="0" border="0">
<form action="" method="POST" name="form_post" >
       <input type="hidden" name="loginid" value="{{LoginObj.id}}" />
       <input type="hidden" name="command" value="do_send_ballot_comment" />
       <input type="hidden" name="ballot_id" value="{{ballot.ballot}}" />
       <input type="hidden" name="filename" value="{{argument.filename}}" />
       <input type="hidden" name="subject" value="{{subject}}" />

<tr bgcolor="#cccccc">
       <td>From: </td>
       <td>{{LoginObj.person.email.0}} &lt;{{LoginObj.person.email.1}}&gt;</td>
</tr>
<tr>
       <td>To: </td><td>The IESG</td>
</tr>
<tr bgcolor="#cccccc">
       <td>Cc: <br><b><i>separated by comma</i></b> </td>
       <td>
               <input type="text" name="cc_val" size="75" />
               <br>
               {% if draft.state_change_notice_to %}
                       <input type="checkbox" name="extra_cc" /> {{draft.state_change_notice_to}}
               {% endif %}
       </td>
</tr>
<tr>
       <td>Subject: </td>
       <td>{{subject}}</td>
</tr>
<tr bgcolor="#cccccc">
       <td>Discuss/Comment Text: &nbsp; </td>
       <td><pre>{% ifequal is_discuss_or_comment "discuss" %}Discuss:{% else %}Comment:{% endifequal %}
{{text}}<br></pre></td>
</tr>
<tr>
       <td colspan="2"><input type="submit" value=" Send this message " /></td>
</tr>
</form>
</table>

<!-- back buttons begin -->
<form action="/idtracker/{{draft.document.filename}}" method="GET">
       <input type="submit" value="Back to I-D" />
</form>
<form action="" method="GET">
       <input type="hidden" name="loginid" value="{{LoginObj.id}}" />
       <input type="hidden" name="command" value="open_ballot" />
       <input type="hidden" name="dTag" value="{{draft.draft.id_document_tag}}" />
       <input type="hidden" name="rfc_flag" value="{{draft.rfc_flag}}" />
       <input type="hidden" name="ballot_id" value="{{ballot.ballot}}" />
       <input type="submit" value="Back to Ballot" />
</form>
<!-- back buttons end -->

{% endif %}

{% endblock %}

