{# Copyright The IETF Trust 2007, All Rights Reserved #}
{% extends "idtracker/base.html" %}

{% block title %}-- Search{% endblock %}

{% block idcontent %}

   {# does this belong here or is it better in the head? #}
   <script language="javascript">
   function clear_fields() {
      document.search_form.search_job_owner.selectedIndex=0;
      document.search_form.search_status_id.selectedIndex=0;
      document.search_form.search_area_acronym.selectedIndex=0;
      document.search_form.search_cur_state.selectedIndex=0;
      document.search_form.sub_state_id.selectedIndex=0;
      document.search_form.search_group_acronym.value = "";
      document.search_form.search_filename.value = "";
      document.search_form.search_rfcnumber.value = "";
      return true;
   }
   </script>
{% ifequal server_mode "development" %}
<font color="red">{{ mode }} Mode</font>
{% endifequal %}

<center>
{% if searching %}
{% else %}
  {% if not adding_ballot_to %}
   {% ifequal mode "IETF" %}
   <img src="/images/ietflogo2e.gif" border="0" height="137" width="280"><br>
   {% endifequal %}
   {% ifequal mode "Secretariat" %}
<form action="." method="GET" name="buttons">
<input type="hidden" name="display_menu" value="1">
<input type="submit" value="Documents that are on some Agenda" name="agenda_docs">
</form>
   {% endifequal %}
   <h1>{{mode}} I-D TRACKER</h1>
  {% else %}
  <h1>Add an I-D to Ballot</h1>
  {% endif %}
{% endif %}
<form action="." method="GET" name="search_form">
<table cellpadding="1" cellspacing="0" border="0">
<tr bgcolor="silver">
<th colspan="2">I-D - Search Criteria</th>
</tr>

<tr>
<td align="right"><label for="id_search_job_owner"><b>Responsible
AD:</b></label></td>
<td>{{ form.search_job_owner }}&nbsp;&nbsp;&nbsp;<label for="id_search_group_acronym">
<b>WG Acronym:</b></label>{{ form.search_group_acronym }}&nbsp;&nbsp;&nbsp;<label
for="id_search_status_id"><b>Status:</b></label>
{{ form.search_status_id }}</td>
</tr>

<tr>
<td align="right"><label for="id_search_cur_state"><b>Document
State:</b></label></td>
<td>{{ form.search_cur_state }} <label for="id_sub_state_id"><b>sub
state</b>: {{ form.sub_state_id }}</label> </td>
</tr>

<tr>
<td align="right"><label for=
"id_search_filename"><b>Filename:</b></label></td>
<td>{{ form.search_filename }} &nbsp;&nbsp;&nbsp; <label for=
"id_search_rfcnumber"><b>RFC Number:</b></label> {{ form.search_rfcnumber }}
&nbsp;&nbsp;&nbsp; <label for="id_search_area_acronym"><b>Area Acronym:</b></label>
{{ form.search_area_acronym }}</td>
</tr>

{% if form.errors %}
<tr>
<td colspan="2">Please fix the following errors and try your search again:
{{ form.errors }}</td>
</tr>
{% endif %}

<TR BGCOLOR="silver">
<TD ALIGN="CENTER" colspan="2">
{% if adding_ballot_to %}
<input type="Hidden" value="{{ adding_ballot_to.ballot_id }}" name="ballot_id">
{% else %}
<INPUT TYPE="submit" VALUE="SEARCH" name="search_button">
<input type="button" value="Clear Fields" onClick="clear_fields();">
{% endif %}
{% ifequal mode 'IESG' %}
<input type="submit" value="{%if adding_ballot_to%}PROCEED{%else%}ADD{%endif%}" name="add_button" onClick="if (document.search_form.search_filename.value == '' && document.search_form.search_rfcnumber.value=='') {alert('Filename or RFC Number field must be filled.');return false;}">
{% endifequal %}
</TD>

</TR>
</table>
</form>
{% if adding_ballot_to %}
</center>
  <table border="1" bgcolor="black">
  <tr><td><font color="white"><h3>Actions</h3></font>
  {% regroup adding_ballot_to.ballot_set by docstate as grouped %}
  {% include "idtracker/search_result_table.html" %}
  </td>
  </tr>
  </table>
{% else %}
  {% ifequal mode "IESG" %}
<HR>
<form action="." method="GET" name="ballot_search_form">
<table cellpadding="1" cellspacing="0" border="0" width="640">
<TR BGCOLOR="silver"><Th colspan="2">Ballot - Search Criteria</Th></TR>
<Tr><Td><b>Telechat date:</b> 
{{ ballot_search_form.telechat_date }}
</td>
<td><b>My position:</b> 
{{ ballot_search_form.position }}
</td></tr>
<Tr BGCOLOR="silver"><td colspan="2" align="center"><input type="submit" value="  Display Ballots  " name="ballot_search"></td></tr>
</table>
</form>
  {% endifequal %}
<HR>
Document States: <a href="/images/state_diagram.gif">State Diagram</a> and 
<a href="/idtracker/help/state/">State Explanations</a>

</center>

  {% if matches %} 
<hr>
<b>Search Result</b><br>
    {% regroup matches by docstate as grouped %}
    {% include "idtracker/search_result_table.html" %}
  {% else %} 
    {% if searching %}
	<p>No matches to your query.</p>
    {% endif %}
  {% endif %}
{% endif %}
{% if matches or searching %}
   {% include "idtracker/main_menu_button_snippet.html" %}
{% endif %}
{% ifequal mode "IESG" %}
<hr>
<form action="." method="GET">
<input type="submit" value="{% if default_search %}Disable{% else %}Enable{% endif %} Default Search" name="switch_default_search">
</form>
<hr>
<A HREF="https://www.ietf.org/IESG/internal/agenda.html">[Telechat Agenda (Web)]</a>
<p>
<A HREF="https://www.ietf.org/IESG/internal/agenda.txt">[Telechat Agenda (Text)]</a>
<p>
<A HREF="https://www.ietf.org/IESG/internal/agenda_pack.txt">[Telechat Agenda Package (Text)]</a> 
<p>
{% endifequal %}

{% endblock %}
