{% extends "ietf.html" %}

{% block title %}Account Creation{% endblock %}

{% block content %}

<div class="row">
	<div class="col-md-7">
		<h1>New Account</h1>

			{% if success %}
			<div class="modal hide fade">
			  <div class="modal-header">
			    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			    <h3>Success</h3>
			  </div>
			  <div class="modal-body">
			<p>Your account creation request has been received successfully. 
			   We have sent you an email with instructions on how to complete the process.</p>
			  </div>
			  <div class="modal-footer">
			    <a href="#" class="btn btn-primary">Close</a>
			  </div>
			</div>
			{% else %}


		<p>Please enter your email address in order to create a new account.</p>

		<form class="form-horizontal" method="POST">
			{% include "ietfform.html" %}
			<div class="form-actions">
				<input class="btn" type="submit" value="Create Account">
			</div>
		</form>
{% endif %}
	</div>

	<div class="col-md-5">
		<div class="row ">
			<div class="well">
				<h1>New Email</h1>
				<p>
				If you already have an account and want to use a new email address,
				please go to your account profile page and
				add the new email
				address there.
				</p>
				<p>
				<a class="btn" href="{% url ietf.ietfauth.views.profile %}">Account profile page</a>
				</p>
			</div>
		</div>

		<div class="row">
			<div class="well">
				<h1>Forgotten Password</h1>
				<p>
				If you already have an account, but forgot your password, please use the password reset form.
				</p>
				<p>
				<a class="btn" href="{% url password_reset %}">Reset password</a>
				</p>
			</div>
		</div>
	</div>
</div>

{% endblock %}
