{# Copyright The IETF Trust 2007, All Rights Reserved #}
{% extends "ietf.html" %}

{% block morecss %}
table.userProfile {
  text-align: left;
}
th {
  vertical-align: top;
  text-align: right !important;
  font-weight: bold !important;
}
.active {
  color: #008000;
  color: #008000;
}
.inactive {
  color: #800000;
  text-decoration: line-through;
}
.even {
  background-color: #e0e0ff;
}
.odd {
  background-color: #ffffff;
}
{% endblock %}

{% block pagehead %}
<script type="text/javascript">
  function init_form()
  {
    // Make sure emails are styled correctly
    var inputs = document.getElementsByTagName("input");
    for (var input in inputs)
    {
      if (inputs[input].type=="checkbox")
      {
        style_email(inputs[input]);
      }
    }
  }

  function style_email(e)
  {
    var span = document.getElementById(e.id.replace("controller_","span_"));
    if (!span) { return; }
    if (e.checked)
    {
      span.className = 'active';
    }
    else
    {
      span.className = 'disabled';
    }
  }

  function add_email()
  {
    var button_row = document.getElementById("add_email_row");
    var tr = document.createElement("tr");
    tr.appendChild(document.createElement("th"));
    tr.appendChild(document.createElement("td"));
    var td = document.createElement("td");
    var input = document.createElement("input");
    input.style.width="100%";
    var date = new Date;
    input.name = "new_email_"+date.getTime();
    td.appendChild(input);
    tr.appendChild(td);
    button_row.parentNode.insertBefore(tr,button_row);
  }
</script>
{% endblock %}

{% block bodyAttrs %}onload='init_form();'{% endblock %}

{% block title %}Profile for {{ user }}{% endblock %}

{% block content %}
<h1>{{ user.username }}<br><small>User information</small></h1>

<form method="post">
<table class="table userProfile">
<tbody>
  <tr>
    <th>User name:</th>
    <td>{{ user.username }}</td>
  </tr>
  <tr>
    <th>Role{{ roles|pluralize }}:</th>
    <td>
	{% for role in roles %}
		<p>{{ role.name }} in {{ role.group.acronym|upper }} ({{ role.group.type }}): 
		<select name="role_email_{{role.id}}">
	        {% for email in emails %}
	        	<option value="{{email.address}}"{% ifequal email.address role.email.address %} selected="selected"{% endifequal %} class='{% if email.active %}active{% else %}disabled{% endif %}'>{{email}}</option>
	        {% endfor %}
	        </select></p>
  	{% endfor %}
  </td></tr>
  
  <tr>
    <th>Email address{{ emails|pluralize:"es" }}:</th>
    <td>
	  {% for email in emails %}
    <label class="checkbox" id="span_{{email.address}}">
	    <input type="checkbox" id="controller_{{email.address}}" name="{{email.address}}" {% if email.active %}checked="checked"{% else %}{% endif %} onchange="style_email(this)">
	    {{email}}
	   </label>
  {% endfor %}
    <input class="btn" type="button" value="Add Email Address" onclick="add_email()">
    <i>Note: Email addresses cannot be deleted, only deactivated.</i></td></tr>

  <tr>
    <th>{{person_form.name.label}}:</th>
    <td>{{person_form.name}} The preferred form of your name</td>
  </tr>
  <tr>
    <th>{{person_form.ascii.label}}:</th>
    <td>{{person_form.ascii}} Your name as rendered in ASCII (Latin, unaccented) characters</td>
  </tr>
  <tr>
    <th>{{person_form.ascii_short.label}}:</th>
    <td>{{person_form.ascii_short}} Short form, if any, of your name as rendered in ASCII (blank is okay)</td>
  </tr>
  <tr>
    <th>{{person_form.affiliation.label}}:</th>
    <td>{{person_form.affiliation}} Employer, university, sponsor, etc.</td>
  </tr>
  <tr>
    <th>Postal address:</th>
    <td>{{person_form.address}}</td>
  </tr>

<td></td>
<td><input class="btn btn-primary" type="submit" value="Save changes"></td>
</tr>

</tbody></table>



</form>
{% endblock %}
