{% extends "ietf.html" %}

{% block title %}Reset Password{% endblock %}

{% block content %}
<h1>Reset Password</h1>
{% if success %}
<p>Your password reset request has been successfully received.
   We have sent you an email with instructions on how to set a new password.</p>
{% else %}
<p>Please enter the email address for which you would like to request a password reset.</p>
<form class="form-inline" method="POST">
  {{ form }}
  <input class="btn" type="submit" value="Request password reset" >
</form>
{% endif %}
{% endblock %}
