{% extends "base.html" %}
{# Copyright The IETF Trust 2015, All Rights Reserved #}
{% load origin %}
{% load staticfiles %}
{% load ietf_filters %}
{% load humanize %}

{% block title %}IETF {{ meeting.number }} Meeting Agenda: Timeslot/Room Availability{% endblock %}
{% load agenda_custom_tags %}
{% block pagehead %}
<link rel='stylesheet' href="{% static 'jqueryui/themes/ui-lightness/jquery-ui.min.css' %}" />
{# <link rel='stylesheet' href="{% static 'ietf/css/agenda/base2.css' %}" /> #}
<link rel='stylesheet' href="{% static 'ietf/css/agenda/agenda.css' %}" />
{% endblock pagehead %}

{% block js %}
<script src="{% static 'jquery/jquery.min.js' %}"></script>
<script src="{% static 'jquery.cookie/jquery.cookie.js' %}"></script>
<script>
jQuery.ajaxSetup({
    crossDomain: false, // obviates need for sameOrigin test
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type)) {
            xhr.setRequestHeader("X-CSRFToken", $.cookie('csrftoken'));
        }
    }
});
</script>
<script src="{% static 'jqueryui/jquery-ui.min.js' %}"></script>

<!-- source (MIT License) http://momentjs.com/ https://github.com/moment/moment/ -->
<script src="{% static 'moment/min/moment.min.js' %}"></script>

<!-- source (MIT License) : https://github.com/trentrichardson/jQuery-Timepicker-Addon -->
<script src="{% static 'jqueryui-timepicker-addon/jquery-ui-timepicker-addon.min.js' %}"></script>
<link rel='stylesheet' href="{% static 'jqueryui-timepicker-addon/jquery-ui-timepicker-addon.min.css' %}" />

<script src="{% static 'spin.js/spin.min.js' %}"></script>

{% endblock js %}

{% block content %}
  {% origin %}
<div class="wrapper custom_text_stuff">
<div style="ui-icon ui-icon-arrow-1-w" id="close_ietf_menubar">
&lt;
</div>

<div class="room_div">

<div id="edit_room_dialog">
   <form action="{{roomsurl}}" method="post">{% csrf_token %}
      <table>
        {{ editroom.as_table }}
      <tr><td><input type="submit" name="editroom" value="editroom"></td></tr>
      </table>
   </form>
</div>

{% endblock %}
