{% extends "base.html" %}
{# Copyright The IETF Trust 2015, All Rights Reserved #}
{% load origin staticfiles bootstrap3 %}

{% block title %}{% endblock %}

{% block pagehead %}
  <link rel="stylesheet" href="{% static 'select2/select2.css' %}">
  <link rel="stylesheet" href="{% static 'select2-bootstrap-css/select2-bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'bootstrap-datepicker/css/bootstrap-datepicker3.min.css' %}">    
{% endblock %}

{% block content %}
  {% origin %}

  <h1>Request An Additional Meeting<h1>
<h3>Please use the form below to request use of IETF meeting space if the intended purpose of your meeting is one of the following: corporate, affiliate organization, Bar BOF or a community work group. Your request will be forwarded to the appropriate person for review. For more information, please see the IETF meeting policy.</h3>
  <div class="panel panel-default">
     <div class="panel-heading">Add/Edit a side meeting</div>
     <div class="panel-body">
        <form method="post">
          {% csrf_token %}
          {% bootstrap_form form %}
          {% buttons %}
            <button class="btn-primary" type="submit">Save</button>
            <a class="btn btn-default" href="#">Cancel</a>
          {% endbuttons %}
        </form>
     </div>
   </div>

{% endblock %}

{% block js %}
  <script src="{% static 'select2/select2.min.js' %}"></script>
  <script src="{% static 'ietf/js/select2-field.js' %}"></script>
  <script src="{% static 'bootstrap-datepicker/js/bootstrap-datepicker.min.js' %}"></script>
  <script>
     $(document).ready(function () {    
        $('.datepicker').datepicker({
           format: 'mm/dd/yyyy',
           startDate: '-3d'
         })
     });
  </script>
});
   
{% endblock %}
