{% extends "base.html" %}
{# Copyright The IETF Trust 2015, All Rights Reserved #}
{% load origin staticfiles bootstrap3 %}
{% load sm_detail %}

{% block title %}{% endblock %}

{% block pagehead %}
  <link rel="stylesheet" href="{% static 'select2/select2.css' %}">
  <link rel="stylesheet" href="{% static 'select2-bootstrap-css/select2-bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/sidemeeting.css' %}">  
{% endblock %}

{% block content %}
  {% origin %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <a href="{% url 'side-meeting-list' %}"><span class="glyphicon glyphicon-circle-arrow-left"></span></a>
      side meeting: {{object.meeting.number}}      
    </div>

     <div class="panel-body">
       <table>
          {% for field,name in field_names.items %}
              <tr>
                <th>{{ name }}</th>
                <td>{% get_field_value object field %}</td>
              </tr>
          {% endfor %}
      </table>
     </div>
   </div>

{% endblock %}

{% block js %}
  <script src="{% static 'select2/select2.min.js' %}"></script>
  <script src="{% static 'ietf/js/select2-field.js' %}"></script>
{% endblock %}
