{% extends "base.html" %}
{# Copyright The IETF Trust 2015, All Rights Reserved #}
{% load origin staticfiles bootstrap3 %}

{% block title %}{% endblock %}

{% block pagehead %}
  <link rel="stylesheet" href="{% static 'select2/select2.css' %}">
  <link rel="stylesheet" href="{% static 'select2-bootstrap-css/select2-bootstrap.min.css' %}">
{% endblock %}

{% block content %}
  {% origin %}

  <div class="panel panel-default">
     <div class="panel-heading">Add/Edit a side meeting type</div>
     <div class="panel-body">
        <form method="post">
          {% csrf_token %}
          {% bootstrap_form form %}
          {% buttons %}
            <button class="btn-primary" type="submit">Save</button>
            <a class="btn btn-default" href="#">Cancel</a>
          {% endbuttons %}
        </form>
     </div>
   </div>

{% endblock %}

{% block js %}
  <script src="{% static 'select2/select2.min.js' %}"></script>
  <script src="{% static 'ietf/js/select2-field.js' %}"></script>
{% endblock %}
