{% extends "base.html" %}
{# Copyright The IETF Trust 2015, All Rights Reserved #}
{% load origin staticfiles bootstrap3 %}

{% block title %}{% endblock %}

{% block pagehead %}
  <link rel="stylesheet" href="{% static 'select2/select2.css' %}">
  <link rel="stylesheet" href="{% static 'css/sidemeeting.css' %}">
  <link rel="stylesheet" href="{% static 'select2-bootstrap-css/select2-bootstrap.min.css' %}">
{% endblock %}

{% block content %}
  {% origin %}

  <div class="panel panel-default">
    <div class="panel-heading">
      <a href="{% url 'sidemeeting-type-add' %}"><span class="glyphicon glyphicon-plus"></span></a>
      Side Meeting Types
    </div>
     <div class="panel-body">
        <form method="post">
            {% if sidemeetingsessiontypes %}
            <ul>
                {% for typ in sidemeetingsessiontypes %}
                <li>
                  <a href="{% url 'sidemeeting-type-detail' typ.slug %}">{{ typ.name }}</a>&nbsp;&nbsp;
                  <a href="{% url 'sidemeeting-type-delete' typ.slug %}"><span class="glyphicon glyphicon-remove"></span></a>
                  <a href="{% url 'sidemeeting-type-edit' typ.slug %}"><span class="glyphicon glyphicon-pencil"></span></a>                                    
                </li>
                {% endfor %}
            </ul>
            {#  In case  no typ exists.  #}
            {% else %}
                <h3> No side meeting types found.</h3>
            {% endif %}          
     </div>
   </div>

{% endblock %}

{% block js %}
  <script src="{% static 'select2/select2.min.js' %}"></script>
  <script src="{% static 'ietf/js/select2-field.js' %}"></script>
{% endblock %}
