<form action="" method="POST">
  <table>
    {{ form.as_table }}
  </table>

  <div class="actions">
    <a href="{{ doc.idinternal.get_absolute_url }}">Back</a>
    <input type="submit" value="Save"/>
  </div>
</form>

<p><a href="{% url help_states %}">State table</a></p>

{% if next_states %}
<div class="next-states">
  <div>Or go directly to</div>
  {% for n in next_states %}
  <form action="" method="POST">
    <input type="hidden" name="state" value="{{ n.next_state.document_state_id }}" />
    <input type="hidden" name="substate" value="" />
    <input type="submit" value="{{ n.next_state.state }}" />
  <form>
  {% endfor %}
</div>
{% endif %}

<div class="prev-state">
  <div>Or revert to previous state</div>
  <form action="" method="POST">
    <input type="hidden" name="state" value="{{ doc.idinternal.prev_state_id }}" />
    <input type="hidden" name="substate" value="{{ doc.idinternal.prev_sub_state_id|default_if_none:"" }}" />
    <input type="submit" value="Back to {{ prev_state_formatted }}" />
  <form>
</div>
