<h3>Email DISCUSS and COMMENT text to IESG list</h3>

<form action="" method="POST">
  <table>
    <tr><td>From:</td> <td>{{ frm }}</td></tr>
    <tr><td>To:</td> <td>{{ to }}</td></tr>
    <tr>
      <td>Cc:<br/>
      <span class="help">separated by comma</span></td>
      <td><input type="text" name="cc" value="" size="75" /><br/>
      {% if doc.idinternal.state_change_notice_to %}
      <label>
        <input type="checkbox" name="cc_state_change" value="1" />
        {{ doc.idinternal.state_change_notice_to }}
      </label>
      {% endif %}
      </td>
    </tr>
    <tr><td>Subject:</td> <td>{{ subject }}</td></tr>
    <tr>
      <td>Body:</td>
      <td><pre>{{ body }}</pre></td>
    </tr>
  </table>

  <div class="actions">
    <a href="{{ doc.idinternal.get_absolute_url }}">Back</a>
    <input type="submit" value="Send"/>
  </div>
</form>

