
body {
    margin-top: 40px;
    text-align: center;
    font-size: 14px;
    font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
    vertical-align:text-top;
}

#calendar {
    width: 900px;
    margin: 0 auto;
    float: right;
}

td{
//    padding:8px;
    border:1px solid black;
}
span {
        float: left;
        margin-top: 17px;
        text-align: center;
        width: 100%;
}

#meeting_selection {
    float: left;
    width: 150px;
    padding: 0 10px;
    border: 1px solid black;
    text-align: left;
    vertical-align:text-top;

}

#sortable { 
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
    width: 1000px; 
}

#sortable li { 
    margin: 3px 3px 3px 0; 
    padding: 1px; 
    float: left; 
    width: 100px; 
    height: 90px; 
  //  font-size: 4em; 
    text-align: center; 
    border: 1px solid black;
}

#sortable-list { 
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
    width: 100px; 
}

#sortable-list li { 
    margin: 3px 3px 3px 0; 
    padding: 1px; 
    float: left; 
    width: 100px; 
//    height: 90px; 
//    font-size: 4em; 
    text-align: center; 
    border: 1px solid black;
}



#meetings {
    float: left;
    width: 80%;

    padding: 10px 10px;

    text-align: center;
//    background-color:grey;
//    background-color:#ff7373;
    background-color:rgb(255,240,240);
//    filter:alpha(opacity=100);
//    opacity:.1;
    overflow:scroll;
    border-radius: 15px;
//    border: 1px solid black;
    
}
.room {
    float: left;
    width:100%;
    height:100%;
    border:2px solid red;
//    padding:8px;
}


.small{
    height:50px;
    background:green;
}


.timeslot {
    width:150px;
    height:150px;
    border:1px solid green;
    padding: 2px;
    


}

.obj {
    width:150px;
    height:150px;
    border:1px solid blue;
    Background: maroon;
    float:left;
    
}


/* Cell Styles
------------------------------------------------------------------------*/
.room_title {
  width:128px;
//  background-color:#666666;
  background-color:#C00000;
  border:1px solid black;
  color:white;
}

/* 

.cells tr td{
  width:132px;
  background-color:#dedede;
  border:0px solid ;
  border-bottom:2px dotted black;
  height:64px;

}

... */

.cells tr td{
  width:132px;
  //background-color:#dedede;
 
  border:0px solid ;
  border-bottom:1px solid black;

  border-right:1px solid black;
  height:64px;
  border-radius: 3px;
}

.cells tr td.alt{
  width:132px;
  background-color:#dedede;
 
  border:0px solid ;
  border-bottom:1px solid black;

  border-right:1px solid black;
  height:64px;
  border-radius: 3px;
}


/* .... */
.vert_time
{
//  background:white;
  background-color:#C00000;
  color:white;
  border:1px solid black;
  width:32px;
  font-size: 8px;
  font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
//  width:100px;
//  height:32px;
}


.event_title
{

}
span.event_title{
  background:aqua;
  align:right;
}

table.meeting_event {
    border:1px solid black;
    background:#E0FFFF;

    border-radius: 4px;
    margin:8px;

}

.meeting_event th{
//    background:#E6E6FA;
    background-color:#ff7373;
    font-size: 8px; 
    text-align:left;
    border:1px solid blue;
  
}

.meeting_event tr td{
  padding:0px;
  background-color:white;
  float: inherit;
  font-size: 8px; 
  text-align:left;
  vertical-align:text-top;
  width:128px;
  height:10px;
  border:1px solid blue;
  border-radius: 15px;


}
    .ui-effects-transfer {
        border: 1px dotted black;
    }
