li {
    list-style-type:none;
}
th {
    padding-right:20px;
}
.list-item {
    padding:5px;
}
.list-item-approved {
    background-color:#0f0;
    padding:5px;
}
.list-name {
    width:150px;
    float:left;
}
.list-actions {
    float:left;
}
.list-approval {
    margin-left:10px;
    float:left;      
}
