body {
	font-size: .85em;
	margin: 0;
	padding: 0;
	background-color: white;
	font-family: Verdana, Helvetica, Arial, sans-serif;
}

#content h1 {
	margin-top: 0;
	font-size: 2em;
}

#content h2 {
	font-size: 1.15em;
}

#content table, td, th {
	padding: 0em;
	margin: 0em;
	vertical-align: top;
	border-style: none;
	border-width: 0em;
	border-collapse: collapse;
}

#content p.replace {
	padding: 0em;
	margin: 0em;
	padding-left: 1em;
}

#content th, td {
	text-align: left;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	padding-left: 0.5em;
	padding-right: 0.5em;
}

#content th {
	font-weight: bold;
	background-color: lightgray;
}

#content td.buttons {
	text-align: right;
}

#content table.search {
	background-color: lightgray;
	padding: .5em;
}

#content p.error {
	font-weight: bold;
	color: red;
}

#content th.state {
	padding-top: 2em;
	font-size: 1.15em;
	background-color: white;
}





#leftmenu {
	float: left;
	background-color: #313163;
	color: #c8c8c8;
	padding: 0.5em;
	margin-right: 0em;
	margin-right: 1em;
}

#leftmenu ul li { 
	list-style-type: none;
}

#leftmenu ul li a:link, #leftmenu ul li a:visited {
	color: #ffffff;
	text-decoration: none;
}


#leftmenu ul {
	padding-left: 0;
	margin-left: 0;
}

#leftmenu ul li ul {
	margin-left: 1.5em;
	font-size: .85em;
}

#leftmenu img.menulogo { 
	text-align: center;
}


#footer {
	margin-right: 1em;
	font-size: 7pt;
	font-style: italic;
}

#debug {
	font-size: 7pt;
}