{% extends "wginfo/group_base.html" %}

{% load ietf_filters %}

{% block group_content %}

{% if group.state_id == "conclude" %}
	<span class="ietf-concluded-warning"><b>Note:</b> The data for concluded WGs
	is occasionally incorrect.</span>
{% endif %}

<table class="table table-condensed ietf group">
	<tr><th rowspan="6">{{ group.type.name }}</th></tr>

	<tr>
		<th>Name</th>
		<td>{{ group.name }}</td>
	</tr>

	<tr>
		<th>Acronym</th>
		<td>{{ group.acronym }}</td>
	</tr>

	<tr>
	{% if group.parent %}
		<th>{{ group.parent.type.name }}</th>
		<td>{{ group.parent.name }} ({{ group.parent.acronym }})</td>
	{% endif %}
	</tr>

	<tr>
		<th>State</th>
		<td>
			{{ group.state.name }}
			{% if requested_close %}
				(but in the process of being closed)
			{% endif %}
		</td>
	</tr>

	<tr>
		<th>Charter</th>
		<td>
		{% if group.charter %}
			<a href="{% url "doc_view" name=group.charter.name %}">{{ group.charter.name }}-{{ group.charter.rev }}</a>
			<span class="label label-info">{{ group.charter.get_state.name }}</span>
		{% else %}
			none
			{% if user|has_role:"Area Director,Secretariat" %}
				- <a href="{% url "ietf.wginfo.edit.submit_initial_charter" acronym=group.acronym %}">Submit Charter</a>
			{% endif %}
		{% endif %}
		</td>
	</tr>

	<tr><th rowspan="7">Personnel</th></tr>

	<tr>
		<th>Chair{{ group.chairs|pluralize }}</th>
		<td>
			{% for chair in group.chairs %}
				<a href="mailto:{{ chair.email.address }}">{{ chair.person.plain_name }}</a><br>
			{% endfor %}
		</td>
	</tr>

	<tr>
		<th>Area Director</th>
		<td>
			{% if group.areadirector %}
				<a href="mailto:{{ group.areadirector.address }}">{{ group.areadirector.person.plain_name }}</a>
			{% else %}?{% endif %}
		</td>
	</tr>

	<tr>
	{% if group.techadvisors %}
		<th>Technical Advisor{{ group.techadvisors|pluralize }}</th>
		<td>
			{% for techadvisor in group.techadvisors %}
				<a href="mailto:{{ techadvisor.email.address }}">{{ techadvisor.person.plain_name }}</a><br>
			{% endfor %}
		</td>
	{% endif %}
	</tr>

	<tr>
	{% if group.editors %}
		<th>Editor{{ group.editors|pluralize }}</th>
		<td>
			{% for editor in group.editors %}
				<a href="mailto:{{ editor.email.address }}">{{ editor.person.plain_name }}</a><br>
			{% endfor %}
		</td>
	{% endif %}
	</tr>

	<tr>
	{% if group.secretaries %}
		<th>Secretar{{ group.secretaries|pluralize:"y,ies" }}</th>
		<td>
			{% for secretary in group.secretaries %}
				<a href="mailto:{{ secretary.email.address }}">{{ secretary.person.plain_name }}</a><br>
			{% endfor %}
		</td>
	{% endif %}
	</tr>

	<tr>
	{% if group.delegates %}
		<th>Delegate{{ group.delegates|pluralize }}</th>
		<td>
			{% for delegate in group.delegates %}
				<a href="mailto:{{ delegate.email.address }}">{{ delegate.person.plain_name }}</a><br>
			{% endfor %}
		</td>
	{% endif %}
	</tr>

	<tr><th rowspan="4">Mailing list</th></tr>

	<tr><th>Address</th><td>{{ group.list_email|urlize }}</td></tr>
	<tr><th>To subscribe</th><td>{{ group.list_subscribe|urlize }}</td></tr>
	<tr><th>Archive</th><td>{{ group.list_archive|urlize }}</td></tr>

	{% if group.state_id != "conclude" %}
	<tr><th rowspan="3">Jabber chat</th></tr>

	<tr>
		<th>Room address</th>
		<td><a href="xmpp://{{ group.acronym }}@jabber.ietf.org">xmpp://{{ group.acronym }}@jabber.ietf.org</a></td>
	</tr>

	<tr>
		<th>Logs</th>
		<td><a href="//jabber.ietf.org/logs/{{ group.acronym }}/">https://jabber.ietf.org/logs/{{ group.acronym }}/</a></td>
	</tr>
	{% endif %}
</table>


{% with group.groupurl_set.all as urls %}
	{% if urls %}
		<p class="alert alert-info">In addition to the charter maintained by the IETF Secretariat, there is additional information about this working group on the web at:
			{% for url in urls %}
				<a href="{{ url.url }}">{{ url.name }}</a>{% if not forloop.last %}, {% endif %}
			{% endfor %}
		</p>
	{% endif %}
{% endwith %}

<h2>Charter for {% if group.state_id == "proposed" %}proposed{% endif %} Working Group</h2>

<p>{{ group.charter_text|escape|format_charter|safe }}</p>

<h2>{% if group.state_id == "proposed" %}Proposed milestones{% else %}Milestones{% endif %}</h2>

{% include "wginfo/milestones.html" with milestones=group.milestones %}

{% if milestones_in_review %}
	<p class="alert alert-info">Plus {{ milestones_in_review|length }} new milestone{{ milestones_in_review|pluralize }}
	currently in Area Director review.</p>
{% endif %}

{% endblock %}
