{% extends "base.html" %}
{# Copyright The IETF Trust 2015, All Rights Reserved #}
{% load origin %}
{% load bootstrap3 %}

{% block title %}Liaison statements{% endblock %}

{% block content %}
  {% origin %}

  {% block content-title %}
    <h1>Liaison statements</h1>
  {% endblock %}

  {% block management-links %}
    {% if can_manage %}
      <p class="buttonlist">
        {% if can_send_incoming %}
          <a class="btn btn-default" href="{% url "add_liaison" %}?incoming">New incoming liaison</a>
        {% endif %}
        {% if can_send_outgoing %}
          <a class="btn btn-default" href="{% url "add_liaison" %}">New outgoing liaison</a>
        {% endif %}
        {% if approvable %}
          <a class="btn btn-default" href="{% url "liaison_approval_list" %}">Approve pending liaison statement{{ approvable|pluralize }} <span class="badge">{{ approvable }}</span></a>
        {% endif %}
      </p>
    {% endif %}
  {% endblock %}

  {% bootstrap_messages %}
  
{% if with_search %}
<div class="ietf-box search-form-box">
{% include "liaisons/search_form.html" %}
</div>
{% endif %}

{% include "liaisons/liaison_table.html" %}

{% endblock %}

{% block js %}
<script type="text/javascript" src="/js/jquery.tablesorter.min.js"></script>
<script type="text/javascript">
$(document).ready(function() 
    { 
        var widgetIETF = {css: ["evenrow", "oddrow"]};
        $.tablesorter.addWidget({ 
            id: "ietf",
            format: function(table) {
                var $tr, row = -1, odd;
                $("tr:visible", table.tBodies[0]).each(function (i) {
                    $tr = $(this);
                    if (!$tr.hasClass(table.config.cssChildRow)) row++;
                    odd = (row % 2 == 0);
                    $tr.removeClass(
                    widgetIETF.css[odd ? 0 : 1]).addClass(
                    widgetIETF.css[odd ? 1 : 0])
                });
            }
        });

        $("#LiaisonListTable").tablesorter({
            sortList: [[0, 1]],
            widgets: ["ietf"]
        });
    } 
); 
</script>
{% endblock %}
