{% extends "base.html" %}
{# Copyright The IETF Trust 2015, All Rights Reserved #}
{% load origin staticfiles bootstrap3 %}
{% load sm_auth %}

{% block title %}{% endblock %}

{% block pagehead %}
  <link rel="stylesheet" href="{% static 'select2/select2.css' %}">
  <link rel="stylesheet" href="{% static 'select2-bootstrap-css/select2-bootstrap.min.css' %}">
  <style>
    li {
        list-style-type:none;
    }
    th {
        padding-right:20px;
    }
    .list-item {
        padding:5px;
    }
    .list-item-approved {
        background-color:#0f0;
        padding:5px;
    }
    .list-name {
        width:150px;
        float:left;
    }
    .list-actions {
        float:left;
    }
    .list-approval {
        margin-left:10px;
        float:left;      
    }
  </style>  
{% endblock %}

{% block content %}
  {% origin %}

  <div class="panel panel-default">
    <div class="panel-heading">
      {% can_create_sidemeeting user as can_create  %}      
      {% if can_create %}
      <a href="{% url 'side-meeting-add' %}"><span class="glyphicon glyphicon-plus" data-toggle="tooltip" title="Add a new Side Meeting"></span></a>
      {% endif %}
      Side Meetings      
    </div>
     <div class="panel-body">
        <form method="post">
            {% if sidemeetings %}
            <ul>
              {% for mtg in sidemeetings %}
                <li>              
                  {% if mtg.status.slug == 'appr' %}
                  <div class="list-item-approved">
                  {% else %}
                  <div class="list-item">
                  {% endif %}
                  <div class="list-name">
                       {% can_view_sidemeeting mtg user as can_view %}
                       {% if can_view %}                    
                       <a href="{% url 'side-meeting-detail' mtg.id %}"  data-toggle="tooltip" title="Details">{{mtg.meeting.number}} - {{ mtg.name }}</a>&nbsp;&nbsp;
                       {% endif %}
                      </div>
                  <div class="list-actions">
                          {% can_edit_sidemeeting mtg user as can_edit %}                    
                          {% if can_edit %}
                          <a href="{% url 'side-meeting-edit' mtg.id %}"  data-toggle="tooltip" title="Edit"><span class="glyphicon glyphicon-pencil"></span></a>
                          {% endif %}
                          {% can_approve_sidemeeting mtg user as can_approve %}
                          {% if can_approve %}                          
                          <a href="{% url 'side-meeting-approve' mtg.id %}" data-toggle="tooltip" title="Approve"><span class="glyphicon glyphicon-ok"></span></a>
                          {% endif %}
                      </div>
                      <div class="list-approval">
                        {{mtg.status.name}}
                      </div>
                      <div style="clear:both;"></div>
                  </div>

                </li>
                {% endfor %}
            </ul>
            {#  In case  no mtg exists.  #}
            {% else %}
                <h3> No meetings found.</h3>
            {% endif %}          
     </div>
   </div>

{% endblock %}

{% block js %}
  <script src="{% static 'select2/select2.min.js' %}"></script>
  <script src="{% static 'ietf/js/select2-field.js' %}"></script>
{% endblock %}
