   <tr>
      <td align="center">{{ ipr.submitted_date }}</td>
      <td align="right">{{ ipr.ipr_id }}</td>
      <td>
	 {% ifequal ipr.status 1 %}
	    <a href="{{ ipr.ipr_id }}">{{ ipr.document_title }}</a>
	 {% else %}
	    {{ ipr.document_title }}
	    <br>This IPR disclosure was removed at the request of the submitter.
	 {% endifequal %}
	 <br />
	 {% for update in ipr.updates.all %}
	    Updates ID <a href="{{ update.updated.ipr_id }}">#{{ update.updated.ipr_id }}</a>.<br>
	 {% endfor %}
	 {% for update in ipr.updated_by.all %}
	       {% ifequal update.processed 1 %}
	    Updated by ID <a href="{{ update.ipr.ipr_id }}">#{{ update.ipr.ipr_id }}</a>.<br> 
	       {% endifequal %}
	 {% endfor %}
      </td>
   </tr>
